@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');


#main {
  max-width: 350px;  
  margin: -0 auto;
}
img {
    max-width: 100%;
}
body {
  
  font-family: 'Benne', serif;
}




p {
    text-align: justify;
    text-indent: 23px;
  }

  div#interface {   
    width: 900px;
    margin: -10px auto -0 auto;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    background-color: rgb(238, 238, 238);
  }

/*Formatação do menu*/

nav#menu {
  display: block;
}

nav#menu ul {
     list-style: none;
     text-transform: uppercase;
     position: absolute;
     top: -20px;
     left: 700px;
}
nav#menu li {
     display: inline-block;
     background-color: darkgrey;
     padding: 1px;
     margin: 2;
}
nav#menu li:hover {
  color: antiquewhite;
  background-color: rgb(146, 151, 151) ;
  transition: background-color .6s;
  
}
  nav#menu a {
   
    color: rgb( 75, 75, 75);
    text-decoration: none ;
  }

